.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 1.4 Instalaci贸n del equipo de protecci贸n personal 
      .tituloPrincipal__icono       

  .row.align-items-center.justify-content-center.my-5
    .col-8.col-md-4.mb-5
      .img-container    
        figure
          img(src="../content/images/1.4_revisionCruzada/img_revisionCruzada.svg", alt="")
    .col-12.col-md-8
      .group-txt
        .group-txt__divider.cl-orange
        .group-txt__copy
          p #[strong Revisi贸n cruzada entre tripulantes.]           
          |El personal en contacto con el paciente debe llevar tres trajes antes de ingresar y tener contacto con el paciente:
          br
          br
          ul.custom-listItem                
            li El uniforme.                  
            li Un traje de camisa y pantal贸n desechable de manga larga.
            li Un nuevo traje desechable con las especificaciones descritas (bata o traje sellado)                      
        .group-txt__divider.cl-orange