.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 1.6 Procedimientos que generan aerosoles
      .tituloPrincipal__icono       

  .row.align-items-center.justify-content-center.my-5
    .col-8.col-md-5.mb-5
      .img-container    
        figure
          img(src="../content/images/1.6_aerosoles/img_Aerosoles.svg", alt="")
    .col-12.col-md-7
      .group-txt
        .group-txt__divider.cl-orange
        .group-txt__copy
          p Entre los procedimientos que generan aerosoles en la atención prehospitalaria se encuentran los siguientes:         
          br
          ul.custom-listItem 
            li Ventilación con mascarilla y bolsa autoinflable.
            li Succión orofaríngea.
            li Intubación endotraqueal.
            li Tratamiento con nebulizador.
            li Presión positiva continua de las vías respiratorias (CPAP).
            li Presión positive bifásica de la vía aérea (BIPAP).
            li Reanimación que incluya intubación de urgencia. 
            li Reanimación cardiopulmonar (RCP).                 
        .group-txt__divider.cl-orange

  .row.align-items-center.justify-content-center
    .card-txt.col-md-12   
      .card-txt__body       
        p.card-txt__body__copy     
        | El personal de salud debe actuar con precaución al realizar estos procedimientos y hacerlos sólo en caso de que sea necesario desde un punto de vista médico. <br/><br/> 
        | Para reducir la generación de gotículas, están contraindicadas las nebulizaciones, aspiraciones endotraqueales, terapias con inhaladores. En caso de Reanimación cardiopulmonar se deberá optar por la Intubación precoz para manejo de vía aérea. <br/><br/>      
        | Si se realizan procedimientos que producen aerosoles, considere la posibilidad de poner al máximo el sistema de ventilación en la cabina del paciente.