.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 2 Procedimiento general previo al traslado asistencial de pacientes
      .tituloPrincipal__icono   

  .row.my-5
    .col-12   
      p El procedimiento general previo al traslado del paciente, es responsabilidad de los siguientes actores: talento humano en salud de la IPS remisora, IPS receptora y del servicio del transporte asistencial; entidades administradoras de planes de beneficios y entidades territoriales en salud – CRUE.

  .row.justify-content-center.my-5 
    .col-12.text-hero.text-hero--arrow-bottom.text-center
      h3 A continuación se describe la actividad en la siguiente gráfica:
      
  .row.justify-content-center.my-5
    .col-sm-12.col-md-10.col-lg-8.col-xl-7
      .img-container       
        figure
          img(src="../content/images/2.0_previoTraslado/info_previoTraslado.svg", alt="")