.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 Actividad didáctica - Procedimiento general previo al traslado asistencial de pacientes
      .tituloPrincipal__icono       

  .row.align-items-center.justify-content-center.my-5
    .col-8.col-md-5.col-xl-4.mb-5
      .img-container    
        figure
          img(src="../content/images/3.1_actividad/img_actividad.svg", alt="")
    .col-12.col-md-7
      .group-txt
        .group-txt__divider.cl-orange
        .group-txt__copy.text-center
          h2 ¡Pon a prueba tu conocimiento! 
          a(href="media/actividad/modulo-3/" target="_blank" class="btn btn-colour-Orange") Iniciar            
        .group-txt__divider.cl-orange