.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 5.3 Limpieza y desinfección de superficies con procedimento terminal
      .tituloPrincipal__icono 

  .row.my-5
    .col-12   
      p Una vez se encuentre en la base, con un producto con propiedades de detergente más desinfectante que incluya algunos de los componentes y recomendaciones descritos anteriormente.

  .group-txt__divider.cl-gray.mb-5
  .row.justify-content-center.mb-5        
    .listed-paragraph.col-12.col-lg-10      
      p #[span.paragraph-num 01] #[strong Etapa de aislamiento]  

  .row.align-items-center.justify-content-center.mt-5
    .col-12.col-lg-6.mb-5
      .img-container    
        figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/img_limpiezaDesinfeccionSup_01.svg", alt="")
    .col-12.col-lg-6
      .group-txt        
        .group-txt__copy         
          ul.custom-listItem 
            li Asegúrese de utilizar siempre, los elementos de protección individual (EPI) que se requieren para esta labor.
            li bata manga larga, mascarilla N95, careta, gorro, 1 par de guantes, polainas y traje plástico desechable, 2 par de guantes.
            li si su institución cuenta con la mascarilla tipo FPP2 o FPP3 es preferible su uso.       

  .group-txt__divider.cl-gray.mb-5
  .row.justify-content-center.mb-5        
    .listed-paragraph.col-12.col-lg-10      
      p #[span.paragraph-num 02] #[strong Etapa de procedimiento] 

  .row.align-items-center.justify-content-center.my-5
    .col-12.col-md-7.col-lg-5.mb-5
      .img-container    
        figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/img_limpiezaDesinfeccionSup_02.svg", alt="")
    .col-12.col-lg-7
      .group-txt        
        .group-txt__copy 
          p El personal de logística recibirá formación e información previa a la realización de la primera entrada a la cabina:<br/><br/>       
          ul.custom-listItem
            li Utilizando el equipo de protección individual para realizar la limpieza y desinfección de las superficies y espacios.
            li Tener en cuenta que se deberá realizar cambio de dispositivos con alto grado de contaminación Como correas removibles de Camilla, maletines y equipos médicos para reducir cualquier riesgo de propagación a elementos de difícil desinfección. 
            li Cumpla los protocolos de limpieza y desinfección terminal establecidos por su institución.
            li por favor tenga en cuenta que se deben extraer todos los elementos removibles de la cabina del paciente y habilitar un espacio para elementos sucios y un área para elementos desinfectados.
            li El material que va a ser reprocesado como válvulas espiratorias, sensores de flujo, valvas, sensores de capnografía se transportará a la zona de limpieza en un contenedor cerrado utilizando el equipo de protección individual de uso habitual para los procesos de limpieza y desinfección.     

  .row.align-items-center.my-5
    .col-2
      .img-container    
        figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/icon_warning.svg", alt="")
    .col-10
      .group-txt
        .group-txt__divider.cl-orange
        .group-txt__copy
           p #[strong Recomendaciones:] Limpiar de arriba hacia abajo, del fondo hacia afuera utilizando técnicas de arrastre sin devolverse, usar paño de tela no tejida.
        .group-txt__divider.cl-orange

  .group-txt__divider.cl-gray.mb-5
  .row.justify-content-center.mb-5        
    .listed-paragraph.col-12.col-lg-10      
      p #[span.paragraph-num 03] #[strong Etapa de cierre]  

  .row.align-items-center.justify-content-center     
    .card-media.col-12.col-md-8   
      .card-media__body                 
        figure.card__figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/icon_bioseguridad_01.svg", alt="") 
        p.card__copy El material desinfectado se debe retornar a la cabina del paciente.  

  .row.align-items-center.justify-content-center     
    .card-media.col-12.col-md-8   
      .card-media__body                 
        figure.card__figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/icon_bioseguridad_02.svg", alt="") 
        p.card__copy Realizar una disposición adecuada de los elementos de protección individual y elementos de limpieza. 

  .row.align-items-center.justify-content-center     
    .card-media.col-12.col-md-8   
      .card-media__body                 
        figure.card__figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/icon_bioseguridad_03.svg", alt="") 
        p.card__copy Realizar lavado de manos de acuerdo con protocolo.
    
  .row.align-items-center.justify-content-center     
    .card-media.col-12.col-md-8   
      .card-media__body                 
        figure.card__figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/icon_bioseguridad_04.svg", alt="") 
        p.card__copy Manipulación y limpieza seguras de la ropa sucia. Siga protocolo institucional.  
    
  .row.align-items-center.justify-content-center     
    .card-media.col-12.col-md-8   
      .card-media__body                 
        figure.card__figure
          img(src="../content/images/5.3_limpiezaDesinfeccion_superficies/icon_bioseguridad_05.svg", alt="") 
        p.card__copy Segregacion ruta sanitaria y almacenamiento de residuos biosanitarios, de acuerdo con el plan de gestión ambiental de residuos de la institución.      