.container

    .row 

        .col

            p.reference.mt-5
                i.icon.reference
                span
                    | Ministerio de Salud y Protección Salud. (28 de Marzo de 2020). Guía para el Transporte Asistencial de Pacientes Sospechosos o Confirmados del Coronavirus (SARS-CoV 2). Bogotá, Colombia.
            p.reference
                i.icon.reference
                span
                    | Organización Panamericana de la Salud (OPS/OMS). (9 de marzo de 2020). Lista de Verificación de Alistamiento para Respuesta al COVID-19 en Servicios de Emergencias Médicas Prehospitalarias Instructivos.
            p.reference
                i.icon.reference
                span
                    | Organización Panamericana de la Salud (OPS/OMS). (27 de Marzo de 2020). Servicios de Emergencias Médicas (SEM) COVID-19 Recomendaciones.
