head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title EDT-TRASLADO DEL PACIENTE SOSPECHOSO O CONFIRMADO POR COVID19
  meta(meta name="description" content="A través de este evento de divulgación tecnológica se darán a conocer los lineamientos que deben implementar los servicios de transporte asistencial y atención prehospitalaria para el manejo de pacientes identificados como casos sospechosos o confirmados del coronavirus (SARS CoV-2).")     
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/main.css?v=1.2', rel='stylesheet')
  